{
    "printWidth": 90,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "requireConfig": false,
    "editor.formatOnSave": true,
    "html.format.wrapLineLength": 80,
    "html.format.wrapAttributes": "force-expand-multiline",
    "importOrderSortSpecifiers": true
}
